.wrapper {

    grid-template-columns: repeat(5,auto);

    /* max-height: 100px auto;
    max-width: 100px auto; */
    display: grid;

  
  }


  @media only screen and (max-width: 800px) {
    .wrapper {
      /* grid-template-columns: repeat(3, auto); */
      padding: -50%;
      transition: transform 0.2s;
      border-radius: -20px;
      padding: -50%;
      margin-left: -250px;
      
      transition: transform 0.2s;
      border-radius: -20px;
    
    }

  }